<% include partials/header %>

<div class="conatiner">

    <header class="jumbotron">
      <h1>Welcome to YelpCamp!</h1>
      <p>Behold our hand-picked camps from all over the world</p>
    </header>


    <a href="/campgrounds/new">Add new Campground</a>

    <% campgrounds.forEach(function(campground){ %>

        <div>
            <h3><%= campground.name %></h3>
            <img src="<%= campground.image %>">
        </div>

    <% }); %>

</div>

<% include partials/footer %>
