h1{
  font-family: 'Raleway', sans-serif;
  color: white;
}

div{
  font-family: 'Cairo', sans-serif;
  color: white;
}

body{
  background: linear-gradient(to right, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pad{
  padding-left: 30px;
}
